In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
news = pd.read_csv("https://raw.githubusercontent.com/austinyu/CSC395-Final-Project/main/dataset_processed/fakeNews_titleStemming_Sampled.csv")
news

,Unnamed: 0,000,10,100,11,151,17,189,1970,1981,...,york,you,young,your,youtub,zero,ziff,zika,zone,label
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,3,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,295,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
296,296,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
297,297,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
298,298,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
299,299,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [3]:
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import svm

news_predictors = news.drop(columns = ['label'])
news_target = news['label']

In [4]:
clf = svm.SVC(kernel = "linear") #SVM Model, default C-value
clf.fit(news_predictors, news_target)
accuracy = clf.score(news_predictors, news_target.values.ravel())
print("This is the accuracy for default C-value", accuracy)

C_values = [0.001, 0.01, 0.1, 1] #test various C-values to determine which gives the best accuraccy
for i in C_values:
  clf = svm.SVC(kernel = "linear", C=i)
  clf.fit(news_predictors, news_target)
  print(i, clf.score(news_predictors, news_target.values.ravel()))

This is the accuracy for default C-value 1.0
0.001 0.61
0.01 0.8766666666666667
0.1 0.9933333333333333
1 1.0